
<div class="section generalize">
	<div class="layout layout__big">
		<div class="generalize__wrap">

			<table class="generalize__table">
				<tr class="generalize__row">
					<td class="generalize__cell"></td>
					<td class="generalize__area" colspan="4">
						<table>
							<tr class="no-border">
								<td>
									<span class="generalize__name">Accessibilite</span>
								</td>
								<td>
									<span class="generalize__name">Accessibilite</span>
								</td>
								<td>
									<span class="generalize__name">Accessibilite</span>
								</td>
								<td>
									<span class="generalize__name">Accessibilite</span>
								</td>
							</tr>
						</table>
					</td>
					<td class="generalize__cell"></td>
				</tr>
<!-- town row -->
				<tr class="generalize__row">
					<td class="generalize__cell">
						<span class="generalize__city">Paris</span>
					</td>
					<td class="generalize__area" colspan="4">
						<table>
							<tr>
								<td>
									<span class="generalize__item is-active">75</span>
								</td>
								<td>
									<span class="generalize__item">60</span>
								</td>
								<td>
									<span class="generalize__item">65</span>
								</td>
								<td>
									<span class="generalize__item">40</span>
								</td>
							</tr>
						</table>
					</td>
					<td class="generalize__cell">
						<a href="#" class="generalize__link">Places</a>
					</td>
				</tr>
<!-- town row -->
				<tr class="generalize__row">
					<td class="generalize__cell">
						<span class="generalize__city">Lyon</span>
					</td>
					<td class="generalize__area" colspan="4">
						<table>
							<tr>
								<td>
									<span class="generalize__item is-active">90</span>
								</td>
								<td>
									<span class="generalize__item">30</span>
								</td>
								<td>
									<span class="generalize__item">25</span>
								</td>
								<td>
									<span class="generalize__item">20</span>
								</td>
							</tr>
						</table>
					</td>
					<td class="generalize__cell">
						<a href="#" class="generalize__link">Places</a>
					</td>
				</tr>
<!-- town row -->
				<tr class="generalize__row">
					<td class="generalize__cell">
						<span class="generalize__city">Marseille</span>
					</td>
					<td class="generalize__area" colspan="4">
						<table>
							<tr>
								<td>
									<span class="generalize__item is-active">55</span>
								</td>
								<td>
									<span class="generalize__item">60</span>
								</td>
								<td>
									<span class="generalize__item">95</span>
								</td>
								<td>
									<span class="generalize__item">35</span>
								</td>
							</tr>
						</table>
					</td>
					<td class="generalize__cell">
						<a href="#" class="generalize__link">Places</a>
					</td>
				</tr>

			</table>
		</div>
		<div class="compare">
			<a href="#" class="compare__link is-active">Compare</a>
			<a href="#" class="compare__link ">
				<i class="icon icon-share"></i>
			</a>
			<a href="#" class="compare__link ">
				<i class="icon icon-email"></i>
			</a>
			<a href="#" class="compare__link ">
				<i class="icon icon-fax"></i>
			</a>
		</div>


	</div>
</div>
