
<div class="section enter">
	<div class="section__bg">
		<img src="static/img/content/bg-login.jpg" alt="">
	</div>
	<div class="enter__wrap">
		<a href="/" class="logo">
			<img src="static/img/content/logo.png" alt="logo" class="logo__img">
			<span>score</span><strong><i>' </i>it</strong>
		</a>
		<form class="enter__form" action="/" method="post">
			<fieldset class="enter__field">
				<img class="enter__icon" src="static/img/content/form-user.png" alt="">
				<input class="enter__input" type="text" placeholder="Username">
			</fieldset>
			<fieldset class="enter__field">
				<img class="enter__icon" src="static/img/content/form-lock.png" alt="">
				<input class="enter__input" type="password" placeholder="Password">
			</fieldset>
			<button class="enter__btn">Login</button>
		</form>
		<p class="desc__r">Don’t have an account? <a href="/" class="link"> Sign out</a></p>
	</div>

</div>